.claude
*.iml
desktopApp/odin.db
desktopApp/odin-2.db
.kotlin
.gradle
**/build/
bin/
userdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
CLAUDE.md
iosApp/iosApp.xcodeproj/project.xcworkspace/