<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Homebase</vendor>
  <vendor_url>https://homebase.id</vendor_url>

  <action id="id.homebase.feed.vault-unlock">
    <description>Unlock the Homebase Vault</description>
    <message>Authenticate to unlock your Homebase Vault</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
</policyconfig>
